  <div class="container">
    <div class="jumbotron">
      <h1>Bienvenido</h1> 
      <p>Para empezar, haz Login con tu cuenta o crea una nueva cuenta </p> 
    </div>
  </div>
  <%= link_to('Login', new_user_session_path) %>  



