<p>
  <strong>Numero:</strong>
  <%= @telefono.numero %>
</p>

<p>
  <strong>Contacto:</strong>
  <%= @telefono.contacto.email %>
</p>

<%= link_to 'Edit', edit_telefono_path(@telefono) %> |
<%= link_to 'Back', telefonos_path %>
